<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dadishu-02-jiahao-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,693},{49,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,73}</string>
			</dict>
			<key>dadishu-02-jiahao-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{57,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,77}</string>
			</dict>
			<key>dadishu-02-jiahao-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,77},{57,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,77}</string>
			</dict>
			<key>dadishu-02-jiahao-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,154},{57,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,77}</string>
			</dict>
			<key>dadishu-02-jiahao-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,231},{57,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,77}</string>
			</dict>
			<key>dadishu-02-jiahao-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,308},{57,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,77}</string>
			</dict>
			<key>dadishu-02-jiahao-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,385},{57,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,77}</string>
			</dict>
			<key>dadishu-02-jiahao-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,462},{57,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,77}</string>
			</dict>
			<key>dadishu-02-jiahao-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,539},{57,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,77}</string>
			</dict>
			<key>dadishu-02-jiahao-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,616},{57,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dadishu_fenshu.png</string>
			<key>realTextureFileName</key>
			<string>dadishu_fenshu.png</string>
			<key>size</key>
			<string>{64,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>