<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>DetailsiOfSurprise/JXB_YX_S_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,0},{88,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,97}</string>
			</dict>
			<key>DetailsiOfSurprise/JXB_YX_S_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,0},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,94}</string>
			</dict>
			<key>DetailsiOfSurprise/JXB_YX_S_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>DetailsiOfSurprise/JXB_YX_S_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,0},{88,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,97}</string>
			</dict>
			<key>DetailsiOfSurprise/JXB_YX_S_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,0},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,94}</string>
			</dict>
			<key>DetailsiOfSurprise/JXB_YX_S_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,0},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>DetailsiOfSurprise/JXB_YX_S_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,0},{88,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,97}</string>
			</dict>
			<key>DetailsiOfSurprise/JXB_YX_S_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,0},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,94}</string>
			</dict>
			<key>DetailsiOfSurprise/JXB_YX_S_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,0},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>DetailsiOfSurprise/JXB_YX_S_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,0},{88,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,97}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LH_Plist.png</string>
			<key>realTextureFileName</key>
			<string>LH_Plist.png</string>
			<key>size</key>
			<string>{1024,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>